/*-- scss:defaults --*/
$font-family-sans-serif: 'Roboto', sans-serif;

/*-- scss:rules --*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

p {
  font-family: 'Roboto', sans-serif !important;
}

div.quarto-about-jolla p {
  text-align: left;
}

.teaching {
  .body {
    margin-bottom: 0.8em;
  }

  ul.course-semesters {
    list-style: none;
    padding: 0;
    margin-bottom: 0;

    li {
      display: inline-block;
      white-space: nowrap;
      background-color: $orange;
      margin: 0 0.2em 0.4em 0;
      padding: 0.2em 0.4em;
      font-size: 0.85em;
      border-radius: 0.25rem;
    }
  }
}